<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>


    <!-- Select table -->
    <label for="table_label">Choose a table:</label>
    <form action="" method="post">
      <select class="form-control" name="table_name" id="table_id">
          {% for table_name in table_names %}
              <option value="{{ table_name }}">{{ table_name }}</option>
          {% endfor %}
      </select>
      <input class="btn btn-default" type="submit" value="Generate">
    </form>


    <p>
    </br>
    <!-- Select column to filter -->
    <label for="filters">Choose the filter column:</label>
    <select class="form-control" name="cols" id="cols">
        {% for col_name in col_names %}
            <option value="{{ col_name }}">{{ col_name }}</option>
        {% endfor %}
    </select>
    </br>
    <!-- Select operator -->
    <select class="form-control" name="oprs" id="oprs">
        {% for operator in operators %}
            <option value="{{ operator }}">{{ operator }}</option>
        {% endfor %}
    </select>
    </br>
    <!-- Input filter value -->
    <label for="inputs">Input the value:</label>
    <input type="text" id="filters_selected">
    <br>
    <!-- Add_filter button -->
    <button type="button" onclick="add_filter()">add</button>
    <!-- Delete_filter button -->
    <button type="button" onclick="delete_filter()">delete</button>
    </p>


    <p>
    </br>
    <!-- Select column to group by -->
    <label for="filters">Choose the group by column:</label>
    <select class="form-control" name="cols" id="cols">
        {% for col_name in col_names %}
            <option value="{{ col_name }}">{{ col_name }}</option>
        {% endfor %}
    </select>
    </br>
    <!-- Select aggregate function -->
    <select class="form-control" name="func" id="func">
        {% for agg_func in agg_funcs %}
            <option value="{{ agg_func }}">{{ agg_func }}</option>
        {% endfor %}
    </select>
    </br>
    <!-- Select column to be aggregated -->
    <label for="agg_col">Choose the aggregated column:</label>
    <select class="form-control" name="agg_col" id="agg_col">
        {% for col_name in col_names %}
            <option value="{{ col_name }}">{{ col_name }}</option>
        {% endfor %}
    </select>
    </br>  
    <!-- Add_filter button -->
    <button type="button" onclick="add_func()">add</button>
    <!-- Delete_filter button -->
    <button type="button" onclick="delete_func()">delete</button>
    </p>

  </body>
</html>
